<h2>Listing Special Prices</h2>

<% if @special_prices.empty? %>
	<p>No Special Prices Found</p>
<% else %>
	<% @special_prices.each do |special_price| %>
		<% if current_user.id == special_price.room.user_id %>
			<p>RoomName : <%= special_price.room.name %></p>
			<p>Start_Date : <%= special_price.start_date %></p>
			<p>End_Date : <%= special_price.end_date %></p>
			<p>Price : <%= special_price.price %></p>
			<hr>
		<% end %>
	<% end %>
<% end %>