<p>Hi <%= @booking.room.user.username %>
	Your room has been booked please confirm it.</p>


<h4>
	<%= @booking.user.username %>
	<%= @booking.user.email %>
	<%= @booking.user.mobile %>
</h4>


<b>Thank you for placing a room with us </b>

