<p>Hi <%= @booking.user.username %>
	Your booking has been confirmed by the host successfully</p>

<h4>
	<%= @booking.user.username %>
	<%= @booking.room.name %>
</h4>


<b> Thank you for booking with us </b>

