<ul>
	<li> 
		<p> Name : <%= @amenity.name %> </p>
		<p> Description : <%= @amenity.description %> </p>
		<button type="button" class="btn btn-secondary btn-xs"><%= link_to "Show", amenity_path(@amenity.id) %></button>
		<hr>
	</li>
	
</ul>