<div class="alert alert-danger">
	<% if @amenity.errors.any? %>
		<h3>These errors prohibitted the form from being saved :</h3>
		<ul>
			<% @amenity.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
		</ul>
	<% end %>	
</div>