
<%= form_for(@city, remote: true) do |f| %>
	
	<div class="form-group">
		<label> Name : </label> </br>
		<%= f.text_field :name, autofocus: true, class: "form-control" %> </br>	
	</div>

	<%= f.submit "Create City", class: "btn btn-secondary" %> or <%= link_to "Back", cities_path %>
<% end %>