<div class="container">
  <div class="alert alert-info" role="alert" style="width:90%;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="text-center">
    	<strong>Sign in</strong> using any of this login credentials! (<strong>Note: Each role has it's own abilities</strong>) <br>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <h4>Admin</h4>
        - Email : admin@gmail.com <br>
        - Password : 123456
      </div> 
      <div class="col-md-4 text-center">
        <h4>Host</h4>
        - Email : host@gmail.com <br>
        - Password : 123456
      </div> 
      <div class="col-md-4 text-center">
        <h4>Guest</h4>
        - Email : guest@gmail.com <br>
        - Password : 123456
      </div> 
    </div>               
  </div>
	<div class="row">
		<h2>Listing Cities </h2>

		<% if @cities.empty? %>
			<p> No Cities Found </p>
		<% else %>
			<div id="cityList">
				<ul>
					<% @cities.each do |city| %>
						<li>
							<p> Name : <%= city.name %> </p> 
							<button type="button" class="btn btn-secondary btn-xs"><%= link_to "Show", city_path(city.id) %></button>
						</li>
						<hr>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if can? :create, City.new %>

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
			  <i class="glyphicon glyphicon-plus"></i> Add City
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Add City</h4>
			      </div>
			      <div class="modal-body">
			      	<div id="errorMsg"></div>
			        <%= render 'form' %>
			      </div>
			    </div>
			  </div>
			</div>
			<%#= link_to "Add City", new_city_path %>
			<%#= render 'form' %>
		<% end %>
	</div>
</div>




