<li>
	<p><b> REVIEW : </b><%= @review.review %> </p>
	<p><b> Average Rating : </b><%= (@review.food_rating + @review.cleanliness_rating + @review.safety_rating + @review.facility_rating + @review.locality_rating) / 5 %></p>
	<% if user_signed_in? %>
		<% if can? :destroy, @review %>
			<%= link_to "Destroy", review_path(@review), method: :delete %>
		<% end %>
	<% end %>
</li>